<widget xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.chancehoard.dCider" version="1.6.6">
  <name>dCider</name>
  <author>Chance Hoard</author>
  <platform name="android">
    <icon src="icon.png"/>
  </platform>
  <platform name="ios">
    <icon src="icon.png"/>
  </platform>
  <preference name="orientation" value="portrait" />
        
  <preference name="android-build-tool" value="gradle" />
  <preference name="phonegap-version" value="cli-7.1.0" />
  <plugin name="cordova-plugin-admobpro" source="npm">
  <variable name="PLAY_SERVICES_VERSION" value="16.0.0" />
  </plugin>
</widget>
