<widget id="com.chancehoard.dCider" version="1.6.5">
  <name>dCider</name>
  <author>Chance Hoard</author>
  <platform name="android">
    <icon src="icon.png"/>
  </platform>
  <platform name="ios">
    <icon src="icon.png"/>
  </platform>
  <preference name="orientation" value="portrait" />
</widget>
