<widget xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.chancehoard.dCider" version="1.6.6">
  <name>dCider</name>
  <author>Chance Hoard</author>
  <platform name="android">
    <icon src="icon.png"/>
  </platform>
  <platform name="ios">
    <icon src="icon.png"/>
  </platform>
  
  <preference name="orientation" value="portrait" />
</widget>
