html,body{ margin:0; padding:0; height:100%; width:100%; }

#background {
    background-color: darkorange;
	position: relative;
	width: 100%;
	height: 100%;
}
#choice1 {
    position: absolute;
    margin-top: 100px;
    margin-left: 110px;
}
#add {
    position: absolute;
    background-color: darkorange;
    margin-top: 45%;
    margin-left: 10%;
    width: 7%;
    height: 10%;
    font-size: fill;
    text-align: center;
    color: white;
	cursor: pointer;
}
#go {
    position: absolute;
    background-color: darkorange;
    margin-top: 43.5%;
    margin-left: 85%;
    font-size: 200%;
    text-align: center;
    color: white;
    width: 7%;
    height: 10%;
    font-family: sans-serif;
	cursor: pointer;
}
#buttonstext1 {
	font-size: 300%;
	width: 100%;
	height: 100%;
}
#buttonstext2 {
	font-size: 200%;
	width: 100%;
	height: 100%;
}
#cont {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: darkorange;
}
#showey_a {
    position: absolute;
    left: 4%;
    top: 35%;
    width: 1%;
    height: 10%;
    background-color: #00e5ff;
    text-align: center;
}
#showey_b {
	position: absolute;
	left: 4%;
	top: 45%;
	width: 1%;
	height: 10%;
	background-color: blue;
}
#showey_c {
	position: absolute;
	left: 4%;
	top: 55%;
	width: 1%;
	height: 10%;
	background-color: #00e5ff;
}
#demo {
	position: absolute
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: fill;
}
#again {
	position: absolute;
	text-align: center;
	background-color: blue;
	width: 5.4%;
	height: 8%;
	margin-top: 40%;
	margin-left: 30%;
	color: white;
	cursor: pointer;
}
#same {
	position: absolute;
	text-align: center;
	background-color: #00e5ff;
	width: 7%;
	height: 9%;
	margin-top: 40%;
	margin-left: 60%;
	color: white;
	cursor: pointer;
}